$main-cl:#d1a570;
$rent-cl:#6cb6ac;
$featured-cl:#ff6935;
$sale-cl:#6178b6;
$gray-cl:#7e7b7b;
$dark-cl:#131516;
$light-cl:white;
$shadow-cl:rgb(240, 233, 233);
$btn-hover-cl:#e66e46;
$milky-bg-cl:rgb(247, 246, 243);
$placeholder-cl:rgb(165, 163, 163);